@tailwind base;
@tailwind components;
@tailwind utilities;

.focus-input:focus ~ label,
.focus-input:valid ~ label {
    top: -20px;
    transition: 0.3s ease;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    background-color: blue;
    padding: 2px 5px;
}